<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0;padding-top:60px }
      
      .hero-unit{
        margin-left:30px;
        margin-right:30px
      }

      #map_canvas {
        width:95%;
        height:70%;
        margin-left:30px;
        margin-top:10px;
        margin-right:30px;
        margin-bottom:0px
        }
    </style>
    
    <link href="/static/css/bootstrap.css" rel="stylesheet"/>
    <script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCWO3yzsEwoTWJKY9lJpx5yeFN9efBLgio&sensor=false">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
    <script src="/static/js/jquery_gmap.js" ></script>
    <script type="text/javascript">
      $(function(){
        
        var lat = $("#lat").html();
        var lng = $("#lng").html();
        var site = $("#site").html();
        var name = $("#name").html();
        
        var content =  name + '\n' +  site;
        
        var myLatlng = new google.maps.LatLng(lat,lng);
        var myOptions = {
          center: myLatlng,
          zoom: 8,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map_canvas"),
            myOptions);
        
        var marker = new google.maps.Marker({
       position: myLatlng,
       map: map,
       title:site
        });
        
        var infowindow = new google.maps.InfoWindow({
           content: content
        });
        
        google.maps.event.addListener(marker, 'click', function() {
            infowindow.open(map,marker);
        });
        
      });
      
      
    </script>
  </head>
  <body>
        <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          
          <div class="nav-collapse">
            <ul class="nav pull-right">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="/login">Login</a></li>
              
              <li><a href="/logout">Logout</a></li>
              
              <li><a href="/post_site">Submit Site</a></li>
              
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    
    
        <div class="hero-unit">
        <p> Site Co-ordinates:</p>
        <table>
        <tr>
            <td id="site">{{site.site_id}}</td>
            <td id="lat">{{lat}}</td>
            <td id ="lng">{{lng}}</td>
        </tr>
        <tr>
            <td id="name">{{site.location}}</td>
        </tr>
        </table>
            </div>
        
         
        
    
    
        <div id="map_canvas" ></div>
    
 
     
 
  </body>
</html>